html{
	font-size: 100px;
}
body,p,h1,h2,h3,h4,h5,h6,ul,li,input{
	margin:0;
	padding:0;
	list-style: none;
	font-family: Arial;
	font-size: 14px;
}
a{
	color:#333;
	text-decoration: none;
}

.All1{
	width:100%;height:12.8rem;
}
.topnav{
	width:100%;height:1rem;background: #ff7d8f;
	position: relative;
	text-align: center;
}
.topnav>ul a{
	position: absolute;top:0.15rem;left:0.25rem;
}
.topnav>p{
	font:normal 0.3rem "微软雅黑";color:#fff;
	vertical-align: center;
	line-height: 1rem;
}
.topnav>s{
	width:2.4rem;height:0.1rem;background: #242424;
	position:absolute;bottom:-0.1rem;left:0;
}
.content{
	width:100%;height:11.3rem;
	position: relative;
}
.content .title{
	padding-top: 0.1rem;
	text-align: center;
}
.content .imgAll{
	padding-left:0.55rem; 
	padding-top: 0.8rem;
}
.content .imgAll>li{
	float:left;
	width:3.42rem;height:2.93rem;
	margin:0.4rem 0rem 0.05rem 0;
	position:relative;
	
}
.content .btn{
	width:100%;height:0.4rem;
	position: absolute;bottom: 0;left:0;
}
.content .last{
	width:1.5rem;height:0.3rem;
	position: absolute;bottom: 0.05rem;left:0.4rem;
}
.content .last>a p{
	line-height: 0.3rem;
	position: absolute;bottom: -0.02rem;left:0.3rem;
	font:normal 0.24rem "微软雅黑";color:#242424;

}
.content .next>a{
	width:1.17rem;height:0.4rem;
	background: #ff7d8f;
	border-radius: 0.1rem;
	position: absolute;bottom:0rem;right:1.35rem;
	font:normal 0.24rem "微软雅黑";color:#fff;
	text-align: center;
}
/*.imgAll>li:hover{
	opacity: 0.4;
}*/
.content .imgAll>li span{
	display: none;
	position: absolute;top:1.82rem;right:1rem;
}
/*.imgAll>li:hover span{
	display: block;
}*/